/* This file holds all of my personal customizations to the stock tufte.css */

p.subtitle > a { border-bottom: none;}

.page_number { 
	margin-left: 2em;
	margin-right: 2em;
}

.taglist { 
	font-style: italic;
}

.highlighted {
	color: #f00000;
}


p.subtitle {
	font-size: 1.3rem;
}

.tags {
	font-style: italic;
	padding-top: 1.5rem;
}

.tags a {
	margin-right: 0.3rem;
}

h1 { 
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 0.7rem;
}

p.subtitle {
	margin-top: 0.2rem;
	margin-bottom: 0.3rem;
}


span.codedirection { 
	unicode-bidi:bidi-override; direction: rtl; 
}

code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 1rem;
        line-height: 1; }
        
@media screen and (max-width: 760px) { 
	code { font-size: 0.8rem;	
		line-height: 0.8;
	}
}